openapi: 3.2.0
info:
  title: Zavu Unified Messaging Layer Agent Flows API
  version: 0.2.0
  description: Unified multi-channel messaging API for Zavu.
servers:
- url: https://api.zavu.dev
security:
- bearerAuth: []
tags:
- name: Agent Flows
paths:
  /v1/senders/{senderId}/agent/flows:
    get:
      summary: List flows
      description: List flows for an agent.
      operationId: listAgentFlows
      tags:
      - Agent Flows
      parameters:
      - $ref: '#/components/parameters/SenderIdParam'
      - name: enabled
        in: query
        schema:
          type: boolean
      - name: limit
        in: query
        schema:
          type: integer
          default: 50
          maximum: 100
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: List of flows.
          content:
            application/json:
              schema:
                type: object
                required:
                - items
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AgentFlow'
                  nextCursor:
                    type:
                    - string
                    - 'null'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Agent not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
    post:
      summary: Create flow
      description: Create a new flow for an agent.
      operationId: createAgentFlow
      tags:
      - Agent Flows
      parameters:
      - $ref: '#/components/parameters/SenderIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FlowCreateRequest'
            example:
              name: Lead Capture
              description: Capture lead information
              trigger:
                type: keyword
                keywords:
                - info
                - pricing
                - demo
              steps:
              - id: welcome
                type: message
                config:
                  text: Thanks for your interest! Let me get some info.
                nextStepId: ask_name
              - id: ask_name
                type: collect
                config:
                  variable: name
                  prompt: What's your name?
      responses:
        '201':
          description: Flow created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowResponse'
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Agent not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
  /v1/senders/{senderId}/agent/flows/{flowId}:
    get:
      summary: Get flow
      description: Get a specific flow.
      operationId: getAgentFlow
      tags:
      - Agent Flows
      parameters:
      - $ref: '#/components/parameters/SenderIdParam'
      - $ref: '#/components/parameters/FlowIdParam'
      responses:
        '200':
          description: Flow details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Flow not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
    patch:
      summary: Update flow
      description: Update a flow.
      operationId: updateAgentFlow
      tags:
      - Agent Flows
      parameters:
      - $ref: '#/components/parameters/SenderIdParam'
      - $ref: '#/components/parameters/FlowIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FlowUpdateRequest'
      responses:
        '200':
          description: Flow updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowResponse'
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Flow not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
    delete:
      summary: Delete flow
      description: Delete a flow. Cannot delete flows with active sessions.
      operationId: deleteAgentFlow
      tags:
      - Agent Flows
      parameters:
      - $ref: '#/components/parameters/SenderIdParam'
      - $ref: '#/components/parameters/FlowIdParam'
      responses:
        '204':
          description: Flow deleted.
        '400':
          description: Cannot delete flow with active sessions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Flow not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
  /v1/senders/{senderId}/agent/flows/{flowId}/duplicate:
    post:
      summary: Duplicate flow
      description: Create a copy of an existing flow with a new name.
      operationId: duplicateAgentFlow
      tags:
      - Agent Flows
      parameters:
      - $ref: '#/components/parameters/SenderIdParam'
      - $ref: '#/components/parameters/FlowIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FlowDuplicateRequest'
            example:
              newName: Lead Capture (Copy)
      responses:
        '201':
          description: Flow duplicated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowResponse'
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Flow not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
components:
  parameters:
    SenderIdParam:
      name: senderId
      in: path
      required: true
      schema:
        type: string
    FlowIdParam:
      name: flowId
      in: path
      required: true
      schema:
        type: string
  schemas:
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          example: invalid_request
        message:
          type: string
          example: Phone number is invalid
        details:
          type: object
          additionalProperties: true
    FlowDuplicateRequest:
      type: object
      required:
      - newName
      properties:
        newName:
          type: string
          maxLength: 100
    FlowTriggerType:
      type: string
      description: Type of trigger for a flow.
      enum:
      - keyword
      - intent
      - always
      - manual
    FlowStep:
      type: object
      required:
      - id
      - type
      - config
      properties:
        id:
          type: string
          description: Unique step identifier.
        type:
          $ref: '#/components/schemas/FlowStepType'
        config:
          type: object
          description: Step configuration (varies by type).
          additionalProperties: true
        nextStepId:
          type:
          - string
          - 'null'
          description: ID of the next step to execute.
    FlowCreateRequest:
      type: object
      required:
      - name
      - trigger
      - steps
      properties:
        name:
          type: string
          maxLength: 100
        description:
          type: string
        trigger:
          $ref: '#/components/schemas/FlowTrigger'
        steps:
          type: array
          items:
            $ref: '#/components/schemas/FlowStep'
          minItems: 1
        enabled:
          type: boolean
          default: false
        priority:
          type: integer
          default: 0
    FlowUpdateRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 100
        description:
          type: string
        trigger:
          $ref: '#/components/schemas/FlowTrigger'
        steps:
          type: array
          items:
            $ref: '#/components/schemas/FlowStep'
          minItems: 1
        enabled:
          type: boolean
        priority:
          type: integer
    FlowResponse:
      type: object
      required:
      - flow
      properties:
        flow:
          $ref: '#/components/schemas/AgentFlow'
    AgentFlow:
      type: object
      required:
      - id
      - agentId
      - name
      - trigger
      - steps
      - enabled
      - priority
      - createdAt
      - updatedAt
      properties:
        id:
          type: string
        agentId:
          type: string
        name:
          type: string
        description:
          type:
          - string
          - 'null'
        trigger:
          $ref: '#/components/schemas/FlowTrigger'
        steps:
          type: array
          items:
            $ref: '#/components/schemas/FlowStep'
        enabled:
          type: boolean
        priority:
          type: integer
          description: Priority when multiple flows match (higher = more priority).
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    FlowStepType:
      type: string
      description: Type of flow step.
      enum:
      - message
      - collect
      - condition
      - tool
      - llm
      - transfer
    FlowTrigger:
      type: object
      required:
      - type
      properties:
        type:
          $ref: '#/components/schemas/FlowTriggerType'
        keywords:
          type: array
          items:
            type: string
          description: Keywords that trigger the flow (for keyword type).
        intent:
          type: string
          description: Intent that triggers the flow (for intent type).
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
