openapi: 3.2.0
info:
  title: Zavu Unified Messaging Layer Introspect API
  version: 0.2.0
  description: Unified multi-channel messaging API for Zavu.
servers:
- url: https://api.zavu.dev
security:
- bearerAuth: []
tags:
- name: Introspect
paths:
  /v1/introspect/phone:
    post:
      summary: Introspect phone number
      description: Validate a phone number and check if a WhatsApp conversation window is open.
      operationId: introspectPhone
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneIntrospectionRequest'
      responses:
        '200':
          description: Phone number introspection result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneIntrospectionResponse'
        '400':
          description: Invalid phone number.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
      tags:
      - Introspect
components:
  schemas:
    PhoneIntrospectionResponse:
      type: object
      required:
      - phoneNumber
      - countryCode
      - validNumber
      properties:
        phoneNumber:
          type: string
        countryCode:
          type: string
          example: CL
        validNumber:
          type: boolean
        nationalFormat:
          type: string
          description: Phone number in national format.
          example: (312) 945-7420
        lineType:
          $ref: '#/components/schemas/LineType'
        carrier:
          $ref: '#/components/schemas/Carrier'
        availableChannels:
          type: array
          items:
            type: string
          description: List of available messaging channels for this phone number.
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          example: invalid_request
        message:
          type: string
          example: Phone number is invalid
        details:
          type: object
          additionalProperties: true
    PhoneIntrospectionRequest:
      type: object
      required:
      - phoneNumber
      properties:
        phoneNumber:
          type: string
          example: '+56912345678'
    Carrier:
      type: object
      description: Carrier information for the phone number.
      properties:
        name:
          type:
          - string
          - 'null'
          description: Carrier name.
          example: Verizon Wireless
        type:
          $ref: '#/components/schemas/LineType'
    LineType:
      type: string
      description: Type of phone line.
      enum:
      - mobile
      - landline
      - voip
      - toll_free
      - unknown
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
