openapi: 3.2.0
info:
  title: Zavu Unified Messaging Layer Balance API
  version: 0.2.0
  description: Unified multi-channel messaging API for Zavu.
servers:
- url: https://api.zavu.dev
security:
- bearerAuth: []
tags:
- name: Balance
paths:
  /v1/balance:
    get:
      summary: Get balance
      description: Get balance for the API key's team. If the API key belongs to a sub-account, also includes the sub-account's total spending and credit limit.
      operationId: getBalance
      tags:
      - Balance
      responses:
        '200':
          description: Balance details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
              example:
                balance: 150000
                currency: usd
                creditLimit: 100000
                totalSpent: 35000
                isSubAccount: true
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
components:
  schemas:
    BalanceResponse:
      type: object
      required:
      - balance
      - currency
      properties:
        balance:
          type: integer
          description: Team balance in cents. All charges are billed to the parent team.
        currency:
          type: string
          example: usd
        creditLimit:
          type:
          - integer
          - 'null'
          description: Spending cap in cents (only for sub-accounts).
        totalSpent:
          type:
          - integer
          - 'null'
          description: Total amount spent by this sub-account in cents (only for sub-accounts).
        isSubAccount:
          type: boolean
          description: Whether this API key belongs to a sub-account.
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          example: invalid_request
        message:
          type: string
          example: Phone number is invalid
        details:
          type: object
          additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
