openapi: 3.2.0
info:
  title: Zavu Unified Messaging Layer Account API
  version: 0.2.0
  description: Unified multi-channel messaging API for Zavu.
servers:
- url: https://api.zavu.dev
security:
- bearerAuth: []
tags:
- name: Account
paths:
  /v1/me:
    get:
      summary: Get current API key context
      description: Returns the project, team, and API key metadata bound to the current Bearer token. Used by CLIs and SDKs to confirm which project they will operate on.
      operationId: getMe
      tags:
      - Account
      responses:
        '200':
          description: Context for the API key.
          content:
            application/json:
              schema:
                type: object
                required:
                - project
                - team
                - apiKey
                - isTestMode
                properties:
                  project:
                    type: object
                    required:
                    - id
                    - name
                    - isSubAccount
                    properties:
                      id:
                        type: string
                      name:
                        type:
                        - string
                        - 'null'
                      isSubAccount:
                        type: boolean
                  team:
                    type: object
                    required:
                    - id
                    - name
                    properties:
                      id:
                        type: string
                      name:
                        type:
                        - string
                        - 'null'
                  apiKey:
                    type: object
                    required:
                    - id
                    properties:
                      id:
                        type: string
                  isTestMode:
                    type: boolean
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
components:
  schemas:
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          example: invalid_request
        message:
          type: string
          example: Phone number is invalid
        details:
          type: object
          additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
