{
  "openapi": "3.0.3",
  "info": {
    "title": "Zavu Unified Messaging Layer API",
    "version": "0.2.0",
    "description": "Unified multi-channel messaging API for Zavu.\n\nSupported channels:\n- **SMS**: Simple text messages\n- **WhatsApp**: Rich messaging with media, buttons, lists, CTA URL buttons, and templates\n- **Telegram**: Bot messaging with text, media, and interactive elements\n- **Email**: Transactional emails via Amazon SES\n\nDesign goals:\n- Simple `send()` entrypoint for developers\n- Project-level authentication via Bearer token\n- Support for all WhatsApp message types (text, image, video, audio, document, sticker, location, contact, buttons, list, cta_url, reaction, template)\n- If a non-text message type is sent, WhatsApp channel is used automatically\n- 24-hour WhatsApp conversation window enforcement\n- Universal `to` field accepts phone numbers (E.164), email addresses, or numeric chat IDs (Telegram/Instagram/Messenger)\n"
  },
  "servers": [
    {
      "url": "https://api.zavu.dev"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "parameters": {
      "SenderHeader": {
        "name": "Zavu-Sender",
        "in": "header",
        "required": false,
        "description": "Optional sender profile ID. If omitted, the project's default sender will be used.",
        "schema": {
          "type": "string",
          "example": "sender_12345"
        }
      },
      "MessageIdParam": {
        "name": "messageId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "SenderIdParam": {
        "name": "senderId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "TemplateIdParam": {
        "name": "templateId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ContactIdParam": {
        "name": "contactId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "BroadcastIdParam": {
        "name": "broadcastId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "BroadcastContactIdParam": {
        "name": "contactId",
        "in": "path",
        "required": true,
        "description": "Broadcast contact ID (not the global contact ID)",
        "schema": {
          "type": "string"
        }
      },
      "PhoneNumberIdParam": {
        "name": "phoneNumberId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "InvitationIdParam": {
        "name": "invitationId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "FlowIdParam": {
        "name": "flowId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ToolIdParam": {
        "name": "toolId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "KnowledgeBaseIdParam": {
        "name": "kbId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "DocumentIdParam": {
        "name": "docId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "AddressIdParam": {
        "name": "addressId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "RegulatoryDocumentIdParam": {
        "name": "documentId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "UrlIdParam": {
        "name": "urlId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "SubAccountIdParam": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Sub-account ID.",
        "schema": {
          "type": "string"
        }
      },
      "SubAccountApiKeyIdParam": {
        "name": "keyId",
        "in": "path",
        "required": true,
        "description": "API key ID.",
        "schema": {
          "type": "string"
        }
      },
      "TenDlcBrandIdParam": {
        "name": "brandId",
        "in": "path",
        "required": true,
        "description": "10DLC brand ID.",
        "schema": {
          "type": "string"
        }
      },
      "TenDlcCampaignIdParam": {
        "name": "campaignId",
        "in": "path",
        "required": true,
        "description": "10DLC campaign ID.",
        "schema": {
          "type": "string"
        }
      },
      "TenDlcAssignmentIdParam": {
        "name": "assignmentId",
        "in": "path",
        "required": true,
        "description": "Phone number assignment ID.",
        "schema": {
          "type": "string"
        }
      },
      "FunctionIdParam": {
        "name": "functionId",
        "in": "path",
        "required": true,
        "description": "Zavu Function ID.",
        "schema": {
          "type": "string"
        }
      },
      "FunctionDeploymentIdParam": {
        "name": "deploymentId",
        "in": "path",
        "required": true,
        "description": "Function deployment ID.",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "FunctionTrigger": {
        "type": "object",
        "description": "A subscription that runs a Zavu Function when a messaging event fires.",
        "required": [
          "id",
          "functionId",
          "eventType",
          "active",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "functionId": {
            "type": "string"
          },
          "eventType": {
            "type": "string",
            "description": "Event type that fires the function. See GET /v1/functions/event-types for the supported list."
          },
          "senderId": {
            "type": "string",
            "nullable": true,
            "description": "Restrict the trigger to a single sender. Null means all senders in the project."
          },
          "active": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DocumentUpdateRequest": {
        "type": "object",
        "description": "Fields to update on a knowledge base document. Updating content reprocesses the document for RAG.",
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 200
          },
          "content": {
            "type": "string",
            "maxLength": 500000
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string",
            "example": "invalid_request"
          },
          "message": {
            "type": "string",
            "example": "Phone number is invalid"
          },
          "details": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "MessageStatus": {
        "type": "string",
        "enum": [
          "queued",
          "sending",
          "sent",
          "delivered",
          "read",
          "failed",
          "received",
          "pending_url_verification"
        ]
      },
      "Channel": {
        "type": "string",
        "description": "Delivery channel. Use 'auto' for intelligent routing. `whatsapp_alt` is the QR-linked WhatsApp channel and is only accepted for teams with the WhatsApp Alternative feature enabled; the sender must have a connected whatsapp_alt session.",
        "enum": [
          "auto",
          "sms",
          "sms_oneway",
          "whatsapp",
          "whatsapp_alt",
          "telegram",
          "email",
          "instagram",
          "messenger",
          "voice"
        ]
      },
      "MessageType": {
        "type": "string",
        "description": "Type of message. Non-text types are supported by WhatsApp and Telegram (varies by type).",
        "enum": [
          "text",
          "image",
          "video",
          "audio",
          "document",
          "sticker",
          "location",
          "contact",
          "buttons",
          "list",
          "cta_url",
          "reaction",
          "template"
        ]
      },
      "MessageContent": {
        "type": "object",
        "description": "Content for non-text message types (WhatsApp and Telegram).",
        "properties": {
          "mediaUrl": {
            "type": "string",
            "description": "URL of the media file (for image, video, audio, document, sticker).",
            "example": "https://example.com/image.jpg"
          },
          "mediaId": {
            "type": "string",
            "description": "WhatsApp media ID if already uploaded."
          },
          "mimeType": {
            "type": "string",
            "description": "MIME type of the media.",
            "example": "image/jpeg"
          },
          "filename": {
            "type": "string",
            "description": "Filename for documents.",
            "example": "invoice.pdf"
          },
          "latitude": {
            "type": "number",
            "description": "Latitude for location messages."
          },
          "longitude": {
            "type": "number",
            "description": "Longitude for location messages."
          },
          "locationName": {
            "type": "string",
            "description": "Name of the location."
          },
          "locationAddress": {
            "type": "string",
            "description": "Address of the location."
          },
          "contacts": {
            "type": "array",
            "description": "Contact cards for contact messages.",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "phones": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "buttons": {
            "type": "array",
            "description": "Interactive buttons (max 3).",
            "maxItems": 3,
            "items": {
              "type": "object",
              "required": [
                "id",
                "title"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 256
                },
                "title": {
                  "type": "string",
                  "maxLength": 20
                }
              }
            }
          },
          "listButton": {
            "type": "string",
            "description": "Button text for list messages.",
            "maxLength": 20
          },
          "sections": {
            "type": "array",
            "description": "Sections for list messages.",
            "items": {
              "type": "object",
              "required": [
                "title",
                "rows"
              ],
              "properties": {
                "title": {
                  "type": "string"
                },
                "rows": {
                  "type": "array",
                  "maxItems": 10,
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "title"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string",
                        "maxLength": 24
                      },
                      "description": {
                        "type": "string",
                        "maxLength": 72
                      }
                    }
                  }
                }
              }
            }
          },
          "ctaDisplayText": {
            "type": "string",
            "description": "Button label for cta_url messages.",
            "maxLength": 20,
            "example": "See Dates"
          },
          "ctaUrl": {
            "type": "string",
            "format": "uri",
            "description": "Destination URL opened in the device's default browser when the button is tapped. Used with messageType=cta_url. WhatsApp requires HTTPS in production.",
            "example": "https://example.com/schedule"
          },
          "ctaHeaderType": {
            "type": "string",
            "description": "Optional header type for cta_url messages.",
            "enum": [
              "text",
              "image",
              "video",
              "document"
            ]
          },
          "ctaHeaderText": {
            "type": "string",
            "description": "Header text when ctaHeaderType is 'text'.",
            "maxLength": 60
          },
          "ctaHeaderMediaUrl": {
            "type": "string",
            "format": "uri",
            "description": "Public HTTPS URL of the header media when ctaHeaderType is 'image', 'video', or 'document'. WhatsApp fetches this URL — it must be publicly reachable and return the declared content type."
          },
          "footerText": {
            "type": "string",
            "description": "Optional footer text for cta_url messages.",
            "maxLength": 60,
            "example": "Dates subject to change."
          },
          "emoji": {
            "type": "string",
            "description": "Emoji for reaction messages."
          },
          "reactToMessageId": {
            "type": "string",
            "description": "Message ID to react to."
          },
          "replyToMessageId": {
            "type": "string",
            "description": "Zavu message ID of the quoted message this message replies to. Present on inbound messages that quote an earlier message. Omitted when the quoted message is not found in Zavu (e.g. an old or unknown message) — use replyToProviderMessageId in that case."
          },
          "replyToProviderMessageId": {
            "type": "string",
            "description": "Provider message ID (WhatsApp WAMID) of the quoted message. Present whenever an inbound message is a reply, even if the quoted message is not stored in Zavu."
          },
          "replyToFrom": {
            "type": "string",
            "description": "Sender of the quoted message (phone number in E.164 format)."
          },
          "replyToText": {
            "type": "string",
            "description": "Truncated snippet of the quoted message's text, for display. Empty when the quoted message has no text (e.g. media)."
          },
          "replyToMessageType": {
            "type": "string",
            "description": "Type of the quoted message (text, image, video, etc.)."
          },
          "templateId": {
            "type": "string",
            "description": "Template ID for template messages."
          },
          "templateVariables": {
            "type": "object",
            "description": "Variables for body placeholders. Key them to match the template body: by position (`1`, `2`, ...) for positional templates, or by name (e.g. `customer_name`) for named templates. Zavu detects the template's format and sends the correct payload to Meta. Named keys also resolve a named text-header variable. Do not mix positional and named keys in the same request.",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "1": "John",
              "2": "ORD-12345"
            }
          },
          "templateButtonVariables": {
            "type": "object",
            "description": "Variables for dynamic button placeholders (URL buttons and OTP buttons). Keys are the button index (0, 1, 2) in the template's `buttons` array — not the placeholder name. Values substitute the `{{1}}` placeholder inside that button's URL.\n\n**WhatsApp constraints:**\n- URL buttons only accept `{{1}}` — positional, numeric, no whitespace, no name. Named placeholders like `{{token}}` are stored as literal URL text by Meta and cannot be substituted.\n- At most one placeholder per URL button.\n- A template may have at most three buttons.\n- Static URL buttons (no placeholder) and `quick_reply` buttons are not included here.",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "0": "abc-report-token"
            }
          },
          "templateHeaderVariables": {
            "type": "object",
            "description": "Value for a text-header variable, keyed by `1` (WhatsApp text headers allow at most one variable). Optional override. If omitted, Zavu resolves the header from `templateVariables` using the header placeholder's name (e.g. `novios`). Static text headers need no value.",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "1": "Jorge y Laura"
            }
          }
        }
      },
      "EmailAttachmentInput": {
        "type": "object",
        "description": "Email attachment. Provide either `content` (base64) or `path` (URL), not both.",
        "required": [
          "filename"
        ],
        "properties": {
          "filename": {
            "type": "string",
            "description": "Name of the attached file.",
            "maxLength": 255,
            "example": "invoice.pdf"
          },
          "content": {
            "type": "string",
            "description": "Content of the attached file as a Base64-encoded string."
          },
          "path": {
            "type": "string",
            "format": "uri",
            "description": "URL where the attachment file is hosted. The server will fetch the file."
          },
          "content_type": {
            "type": "string",
            "description": "MIME type of the attachment. If not set, will be derived from the filename.",
            "example": "application/pdf"
          },
          "content_id": {
            "type": "string",
            "description": "Content ID for inline images. Reference in HTML as `<img src=\"cid:your_content_id\">`.",
            "maxLength": 100,
            "example": "logo"
          }
        }
      },
      "MessageRequest": {
        "type": "object",
        "description": "Request body to send a message.",
        "required": [
          "to"
        ],
        "properties": {
          "to": {
            "type": "string",
            "description": "Recipient phone number in E.164 format, email address, WhatsApp business-scoped user ID (BSUID, e.g. `US.13491208655302741918`), WhatsApp group JID (`<id>@g.us`, e.g. `120363000000000000@g.us`), or numeric chat ID (for Telegram/Instagram/Messenger). A BSUID is routed to WhatsApp and sent via the `recipient` field; use it to message a contact who adopted a username and whose phone number is hidden. A group JID is only valid on the `whatsapp_alt` channel and supports text and media (image, video, audio, document, sticker, location, contact).",
            "example": "+56912345678"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel",
            "description": "Delivery channel. Use 'auto' for intelligent routing. If omitted, channel is auto-selected based on sender capabilities and recipient type. For email recipients, defaults to 'email'.",
            "default": "auto"
          },
          "messageType": {
            "$ref": "#/components/schemas/MessageType",
            "description": "Type of message. Defaults to 'text'.",
            "default": "text"
          },
          "text": {
            "type": "string",
            "description": "Text body for text messages or caption for media messages.",
            "example": "Your verification code is 123456."
          },
          "content": {
            "$ref": "#/components/schemas/MessageContent",
            "description": "Additional content for non-text message types."
          },
          "subject": {
            "type": "string",
            "description": "Email subject line. Required when channel is 'email' or recipient is an email address.",
            "maxLength": 998,
            "example": "Your order confirmation"
          },
          "htmlBody": {
            "type": "string",
            "description": "HTML body for email messages. If provided, email will be sent as multipart with both text and HTML."
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "Reply-To email address for email messages.",
            "example": "support@example.com"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Optional idempotency key to avoid duplicate sends.",
            "example": "msg_01HZY4ZP7VQY2J3BRW7Z6G0QGE"
          },
          "metadata": {
            "type": "object",
            "description": "Arbitrary metadata to associate with the message.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "fallbackEnabled": {
            "type": "boolean",
            "description": "Whether to enable automatic fallback to SMS if WhatsApp fails. Defaults to true.",
            "default": true
          },
          "voiceLanguage": {
            "type": "string",
            "description": "Language code for voice text-to-speech (e.g., 'en-US', 'es-ES', 'pt-BR'). If omitted, language is auto-detected from recipient's country code.",
            "example": "es-ES"
          },
          "attachments": {
            "type": "array",
            "description": "Email attachments. Only supported when channel is 'email'. Maximum 40MB total size.",
            "maxItems": 50,
            "items": {
              "$ref": "#/components/schemas/EmailAttachmentInput"
            }
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "id",
          "to",
          "status",
          "channel",
          "messageType",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "jd7x2k3m4n5p6q7r8s9t0"
          },
          "to": {
            "type": "string",
            "example": "+56912345678"
          },
          "from": {
            "type": "string",
            "example": "+13125551212"
          },
          "senderId": {
            "type": "string",
            "example": "sender_12345"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          },
          "messageType": {
            "$ref": "#/components/schemas/MessageType"
          },
          "status": {
            "$ref": "#/components/schemas/MessageStatus"
          },
          "text": {
            "type": "string",
            "description": "Text content or caption."
          },
          "content": {
            "$ref": "#/components/schemas/MessageContent"
          },
          "providerMessageId": {
            "type": "string",
            "description": "Message ID from the delivery provider."
          },
          "errorCode": {
            "type": "string",
            "nullable": true
          },
          "errorMessage": {
            "type": "string",
            "nullable": true
          },
          "cost": {
            "type": "number",
            "nullable": true,
            "description": "Zavu platform charge in USD for this message. Messaging is billed against your plan's monthly limits plus usage-based overage."
          },
          "costProvider": {
            "type": "number",
            "nullable": true,
            "description": "Carrier and delivery cost in USD."
          },
          "costTotal": {
            "type": "number",
            "nullable": true,
            "description": "Total cost in USD (platform charge + delivery cost)."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MessageResponse": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "$ref": "#/components/schemas/Message"
          }
        }
      },
      "WhatsAppCategory": {
        "type": "string",
        "description": "WhatsApp template category.",
        "enum": [
          "UTILITY",
          "MARKETING",
          "AUTHENTICATION"
        ]
      },
      "Template": {
        "type": "object",
        "required": [
          "id",
          "name",
          "language",
          "body",
          "category"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Template name. For WhatsApp, must match the approved template name in Meta.",
            "example": "order_confirmation"
          },
          "language": {
            "type": "string",
            "description": "Language code.",
            "example": "en"
          },
          "body": {
            "type": "string",
            "description": "Default template body with variables: positional ({{1}}, {{2}}) or named ({{customer_name}}, {{contact.first_name}}). Templates created in Zavu are submitted to Meta as positional; templates imported from a WhatsApp Business Account keep their original format (named or positional). Used when no channel-specific body is set.",
            "example": "Hi {{1}}, your order {{2}} has shipped."
          },
          "smsBody": {
            "type": "string",
            "description": "Channel-specific body for SMS messages. Falls back to `body` if not set."
          },
          "telegramBody": {
            "type": "string",
            "description": "Channel-specific body for Telegram messages. Falls back to `body` if not set."
          },
          "instagramBody": {
            "type": "string",
            "description": "Channel-specific body for Instagram messages. Falls back to `body` if not set."
          },
          "category": {
            "$ref": "#/components/schemas/WhatsAppCategory"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "pending",
              "approved",
              "rejected"
            ],
            "default": "draft"
          },
          "variables": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of variable names for documentation."
          },
          "headerType": {
            "type": "string",
            "description": "Type of header (text, image, video, document)."
          },
          "headerContent": {
            "type": "string",
            "description": "Header content (text or media URL)."
          },
          "footer": {
            "type": "string",
            "description": "Footer text for the template."
          },
          "buttons": {
            "type": "array",
            "description": "Template buttons.",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "quick_reply",
                    "url",
                    "phone",
                    "otp"
                  ]
                },
                "text": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "example": {
                  "type": "string",
                  "description": "Sample value used to substitute `{{1}}` in the URL when submitting the template to Meta for review. Only present for dynamic URL buttons."
                },
                "phoneNumber": {
                  "type": "string"
                },
                "otpType": {
                  "type": "string",
                  "enum": [
                    "COPY_CODE",
                    "ONE_TAP"
                  ],
                  "description": "OTP button type. Required when type is 'otp'."
                },
                "packageName": {
                  "type": "string",
                  "description": "Android package name. Required for ONE_TAP buttons."
                },
                "signatureHash": {
                  "type": "string",
                  "description": "Android app signature hash. Required for ONE_TAP buttons."
                }
              }
            }
          },
          "addSecurityRecommendation": {
            "type": "boolean",
            "description": "Add 'Do not share this code' disclaimer. Only for AUTHENTICATION templates."
          },
          "codeExpirationMinutes": {
            "type": "integer",
            "minimum": 1,
            "maximum": 90,
            "description": "Code expiration time in minutes. Only for AUTHENTICATION templates."
          },
          "whatsapp": {
            "type": "object",
            "description": "WhatsApp-specific template information.",
            "properties": {
              "templateName": {
                "type": "string",
                "description": "WhatsApp template name."
              },
              "namespace": {
                "type": "string",
                "description": "WhatsApp Business Account namespace."
              },
              "status": {
                "type": "string",
                "description": "WhatsApp approval status."
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TemplateCreateRequest": {
        "type": "object",
        "required": [
          "name",
          "language",
          "body"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "language": {
            "type": "string",
            "default": "en"
          },
          "body": {
            "type": "string",
            "description": "Default template body. Used when no channel-specific body is set."
          },
          "smsBody": {
            "type": "string",
            "description": "Channel-specific body for SMS. Falls back to `body` if not set."
          },
          "telegramBody": {
            "type": "string",
            "description": "Channel-specific body for Telegram. Falls back to `body` if not set."
          },
          "instagramBody": {
            "type": "string",
            "description": "Channel-specific body for Instagram. Falls back to `body` if not set."
          },
          "whatsappCategory": {
            "$ref": "#/components/schemas/WhatsAppCategory"
          },
          "headerType": {
            "type": "string",
            "description": "Type of header for the template.",
            "enum": [
              "text",
              "image",
              "video",
              "document"
            ]
          },
          "headerContent": {
            "type": "string",
            "description": "Header content (text string or media URL)."
          },
          "footer": {
            "type": "string",
            "description": "Footer text for the template.",
            "maxLength": 60
          },
          "variables": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "buttons": {
            "type": "array",
            "description": "Template buttons (max 3).",
            "maxItems": 3,
            "items": {
              "type": "object",
              "required": [
                "type",
                "text"
              ],
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "quick_reply",
                    "url",
                    "phone",
                    "otp"
                  ]
                },
                "text": {
                  "type": "string",
                  "maxLength": 25
                },
                "url": {
                  "type": "string",
                  "format": "uri",
                  "description": "Button destination. Use `{{1}}` exactly once for a dynamic URL (e.g. `https://example.com/orders/{{1}}`); WhatsApp only accepts the strict `{{1}}` form. Static URLs must not contain any `{{...}}` placeholder."
                },
                "example": {
                  "type": "string",
                  "description": "Sample value Meta uses to review templates with a dynamic URL button. Substituted into `{{1}}` of the URL when the template is submitted to Meta. Only meaningful when `url` contains `{{1}}`; ignored for static URLs.",
                  "example": "ORD-12345"
                },
                "phoneNumber": {
                  "type": "string"
                },
                "otpType": {
                  "type": "string",
                  "enum": [
                    "COPY_CODE",
                    "ONE_TAP"
                  ],
                  "description": "Required when type is 'otp'. COPY_CODE shows copy button, ONE_TAP enables Android autofill."
                },
                "packageName": {
                  "type": "string",
                  "description": "Android package name. Required for ONE_TAP buttons."
                },
                "signatureHash": {
                  "type": "string",
                  "description": "Android app signature hash. Required for ONE_TAP buttons."
                }
              }
            }
          },
          "addSecurityRecommendation": {
            "type": "boolean",
            "description": "Add 'Do not share this code' disclaimer. Only for AUTHENTICATION templates."
          },
          "codeExpirationMinutes": {
            "type": "integer",
            "minimum": 1,
            "maximum": 90,
            "description": "Code expiration time in minutes. Only for AUTHENTICATION templates."
          }
        }
      },
      "WebhookEvent": {
        "type": "string",
        "description": "Type of event that triggers the webhook.\n\n**Message lifecycle events:**\n- `message.queued`: Message created and queued for sending. `data.status` = `queued`\n- `message.sent`: Message accepted by the provider. `data.status` = `sent`\n- `message.delivered`: Message delivered to recipient. `data.status` = `delivered`\n- `message.read`: Message was read by the recipient (WhatsApp only). `data.status` = `read`\n- `message.failed`: Message failed to send. `data.status` = `failed`\n\n**Inbound events:**\n- `message.inbound`: New message received from a contact. Reactions are delivered as `message.inbound` with `messageType='reaction'`. When the contact replied to (quoted) an earlier message, `data.content` carries the reply context: `replyToMessageId`, `replyToProviderMessageId`, `replyToFrom`, `replyToText`, and `replyToMessageType`. `data.providerTimestamp` is the provider's original receive time in Unix milliseconds (the moment the channel received the message from the contact — WhatsApp, Telegram, Instagram, Messenger; `null` for SMS and email). Compare it against the top-level `timestamp` (when Zavu dispatched the webhook) to detect and ignore delayed deliveries.\n- `message.status`: A contact posted a WhatsApp status/story (currently WhatsApp Alternative only). It is NOT a conversation message and never enters the inbox — it is delivered only if you subscribe to `message.status`. `data` carries `from` (the author in E.164), `messageType` (`text`, `image`, `video`, `audio`), `text` (caption/text when present), `mimetype` (for media stories), and `providerTimestamp`. Media bytes are not included.\n- `message.unsupported`: Received a message type that is not supported\n\n**Broadcast events:**\n- `broadcast.status_changed`: Broadcast status changed (pending_review, approved, rejected, sending, completed, cancelled)\n\n**Other events:**\n- `conversation.new`: New conversation started with a contact\n- `template.status_changed`: WhatsApp template approval status changed\n\n**Partner events:**\n- `invitation.status_changed`: A partner invitation status changed (pending, in_progress, completed, cancelled)\n\n**Custom domain events:**\n- `domain.verified`: A custom email domain passed verification (DKIM, and SPF/DMARC/MAIL FROM if enhanced records are enabled)\n- `domain.failed`: A custom email domain failed verification or is partially verified",
        "enum": [
          "message.queued",
          "message.sent",
          "message.delivered",
          "message.read",
          "message.failed",
          "message.inbound",
          "message.status",
          "message.unsupported",
          "broadcast.status_changed",
          "conversation.new",
          "template.status_changed",
          "invitation.status_changed",
          "domain.verified",
          "domain.failed"
        ]
      },
      "WebhookPayload": {
        "type": "object",
        "description": "Webhook payload structure sent to your endpoint.",
        "required": [
          "id",
          "type",
          "timestamp",
          "senderId",
          "projectId",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique event identifier.",
            "example": "evt_1736850000000_abc123"
          },
          "type": {
            "$ref": "#/components/schemas/WebhookEvent"
          },
          "timestamp": {
            "type": "integer",
            "description": "Unix timestamp in milliseconds when the event was created.",
            "example": 1736850000000
          },
          "senderId": {
            "type": "string",
            "description": "ID of the sender associated with this event.",
            "example": "jx7abc123def456"
          },
          "projectId": {
            "type": "string",
            "description": "ID of the project.",
            "example": "jx7xyz789ghi012"
          },
          "data": {
            "type": "object",
            "description": "Event-specific data. For message events, contains messageId, to, channel, status, errorCode, and errorMessage."
          }
        }
      },
      "WebhookMessageData": {
        "type": "object",
        "description": "Data payload for message webhook events (queued, sent, delivered, failed, inbound). Group fields (`isGroup`, `groupId`, `groupAuthor`, `groupName`) are present on `message.inbound` events for group messages.",
        "required": [
          "messageId",
          "to",
          "channel",
          "status"
        ],
        "properties": {
          "messageId": {
            "type": "string",
            "description": "ID of the message.",
            "example": "jx7744x3wckc9cwy0j9c8g6v0h7z7shs"
          },
          "to": {
            "type": "string",
            "description": "Recipient phone number or email. On `message.inbound` this is your own number (the message's destination).",
            "example": "+56912345678"
          },
          "from": {
            "type": "string",
            "description": "Sender of the message. Present on `message.inbound`: the contact for a one-to-one message, or the participant who sent it for a group message.",
            "example": "+14155551234"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          },
          "status": {
            "$ref": "#/components/schemas/MessageStatus"
          },
          "messageType": {
            "$ref": "#/components/schemas/MessageType",
            "description": "Type of the message. Present on `message.inbound`."
          },
          "text": {
            "type": "string",
            "description": "Text body or media caption. Present on `message.inbound` when the message has text, and on `message.status` for text stories or media captions."
          },
          "mimetype": {
            "type": "string",
            "description": "MIME type of the media. Present on `message.status` for media stories.",
            "example": "image/jpeg"
          },
          "errorCode": {
            "type": "string",
            "nullable": true,
            "description": "Error code if the message failed."
          },
          "errorMessage": {
            "type": "string",
            "nullable": true,
            "description": "Error message if the message failed."
          },
          "isGroup": {
            "type": "boolean",
            "description": "True when the inbound message was sent in a group. Absent or false for a one-to-one message. Present on `message.inbound`."
          },
          "groupId": {
            "type": "string",
            "description": "The group's JID (`<id>@g.us`) — the conversation key. Present on `message.inbound` for group messages.",
            "example": "120363000000000000@g.us"
          },
          "groupAuthor": {
            "type": "string",
            "description": "The participant who sent the group message, in E.164. Same value as `from`. Present on `message.inbound` for group messages.",
            "example": "+14155551234"
          },
          "groupName": {
            "type": "string",
            "description": "The group's display name (subject), when known. Present on `message.inbound` for group messages."
          },
          "providerTimestamp": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "description": "The provider's original receive time in Unix milliseconds (when the channel received the message from the contact). Present on `message.inbound` for channels that report it (WhatsApp, Telegram, Instagram, Messenger); null for SMS and email."
          }
        }
      },
      "SenderWebhook": {
        "type": "object",
        "description": "Webhook configuration for the sender.",
        "required": [
          "url",
          "events",
          "active"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "HTTPS URL that will receive webhook events.",
            "example": "https://api.example.com/webhooks/zavu"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEvent"
            },
            "description": "List of events the webhook is subscribed to."
          },
          "secret": {
            "type": "string",
            "description": "Webhook secret for signature verification. Only returned on create or regenerate.",
            "example": "whsec_abc123..."
          },
          "active": {
            "type": "boolean",
            "description": "Whether the webhook is active.",
            "default": true
          }
        }
      },
      "Sender": {
        "type": "object",
        "required": [
          "id",
          "name",
          "phoneNumber"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "sender_12345"
          },
          "name": {
            "type": "string",
            "example": "Primary sender"
          },
          "phoneNumber": {
            "type": "string",
            "description": "Phone number in E.164 format.",
            "example": "+13125551212"
          },
          "isDefault": {
            "type": "boolean",
            "description": "Whether this sender is the project's default.",
            "default": false
          },
          "webhook": {
            "$ref": "#/components/schemas/SenderWebhook"
          },
          "whatsapp": {
            "type": "object",
            "description": "WhatsApp Business Account information. Only present if a WABA is connected.",
            "properties": {
              "phoneNumberId": {
                "type": "string",
                "description": "WhatsApp phone number ID from Meta."
              },
              "displayPhoneNumber": {
                "type": "string",
                "description": "Display phone number.",
                "example": "+14155551234"
              },
              "paymentStatus": {
                "type": "object",
                "description": "Payment configuration status from Meta.",
                "properties": {
                  "setupStatus": {
                    "type": "string",
                    "description": "Payment setup status (COMPLETE, NOT_STARTED, etc.).",
                    "example": "COMPLETE"
                  },
                  "methodStatus": {
                    "type": "string",
                    "description": "Payment method status (VALID, NONE, etc.).",
                    "example": "VALID"
                  },
                  "canSendTemplates": {
                    "type": "boolean",
                    "description": "Whether template messages can be sent. Requires setupStatus=COMPLETE and methodStatus=VALID."
                  }
                }
              }
            }
          },
          "emailAddress": {
            "type": "string",
            "description": "From-address for the email channel, if configured.",
            "example": "noreply@yourdomain.com"
          },
          "emailReceivingEnabled": {
            "type": "boolean",
            "description": "Whether inbound email receiving is enabled for this sender.",
            "default": false
          },
          "emailCatchAllEnabled": {
            "type": "boolean",
            "description": "Whether catch-all receiving is enabled. When true (and emailReceivingEnabled is true), this sender receives email addressed to any local part at its domain, not just its own address. The original recipient is delivered in the message.inbound webhook's data.to.",
            "default": false
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SenderCreateRequest": {
        "type": "object",
        "description": "Create a sender. Provide `phoneNumber` for an SMS/WhatsApp sender, or `emailAddress` (with a verified email domain) for an email sender — at least one is required.",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string",
            "description": "Phone number in E.164 format. Required for phone-based channels (SMS, WhatsApp). Omit for an email-only sender."
          },
          "setAsDefault": {
            "type": "boolean",
            "default": false
          },
          "webhookUrl": {
            "type": "string",
            "format": "uri",
            "description": "HTTPS URL for webhook events."
          },
          "webhookEvents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEvent"
            },
            "description": "Events to subscribe to."
          },
          "emailAddress": {
            "type": "string",
            "format": "email",
            "description": "From-address for the email channel (e.g. noreply@yourdomain.com). The address's domain must be a verified email domain in your project. Setting this attaches the email channel to the sender.",
            "example": "noreply@yourdomain.com"
          },
          "emailDomainId": {
            "type": "string",
            "description": "ID of the verified email domain to attach. Optional — resolved from `emailAddress`'s domain when omitted."
          },
          "emailFromName": {
            "type": "string",
            "maxLength": 100,
            "description": "Display name shown in the recipient's inbox for the email channel."
          },
          "emailReceivingEnabled": {
            "type": "boolean",
            "description": "Enable inbound email receiving on this sender. Requires a verified MX record on the domain; ignored otherwise."
          }
        }
      },
      "SenderUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "setAsDefault": {
            "type": "boolean"
          },
          "webhookUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "HTTPS URL for webhook events. Set to null to remove webhook."
          },
          "webhookEvents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEvent"
            },
            "description": "Events to subscribe to."
          },
          "webhookActive": {
            "type": "boolean",
            "description": "Whether the webhook is active."
          },
          "emailReceivingEnabled": {
            "type": "boolean",
            "description": "Enable or disable inbound email receiving for this sender."
          },
          "emailCatchAllEnabled": {
            "type": "boolean",
            "description": "Enable or disable domain catch-all. When enabled (with emailReceivingEnabled true), this sender receives email for any address at its domain. Ignored (treated as false) if receiving is not enabled."
          },
          "emailAddress": {
            "type": "string",
            "format": "email",
            "description": "Attach or change the sender's email from-address (e.g. noreply@yourdomain.com). The domain must be a verified email domain in your project.",
            "example": "noreply@yourdomain.com"
          },
          "emailDomainId": {
            "type": "string",
            "description": "ID of the verified email domain to attach. Optional — resolved from `emailAddress`'s domain when omitted."
          },
          "emailFromName": {
            "type": "string",
            "maxLength": 100,
            "description": "Display name shown in the recipient's inbox for the email channel."
          }
        }
      },
      "WebhookSecretResponse": {
        "type": "object",
        "required": [
          "secret"
        ],
        "properties": {
          "secret": {
            "type": "string",
            "description": "The new webhook secret.",
            "example": "whsec_abc123..."
          }
        }
      },
      "ContactChannel": {
        "type": "object",
        "description": "A communication channel for a contact.",
        "required": [
          "id",
          "channel",
          "identifier",
          "isPrimary",
          "verified",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "channel": {
            "type": "string",
            "enum": [
              "sms",
              "whatsapp",
              "email",
              "telegram",
              "instagram",
              "messenger",
              "voice"
            ],
            "description": "Channel type."
          },
          "identifier": {
            "type": "string",
            "description": "Channel identifier (phone number or email address).",
            "example": "+14155551234"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO country code for phone numbers.",
            "example": "US"
          },
          "label": {
            "type": "string",
            "description": "Optional label for the channel.",
            "example": "work"
          },
          "isPrimary": {
            "type": "boolean",
            "description": "Whether this is the primary channel for its type."
          },
          "verified": {
            "type": "boolean",
            "description": "Whether this channel has been verified."
          },
          "metrics": {
            "type": "object",
            "description": "Delivery metrics for this channel.",
            "properties": {
              "successCount": {
                "type": "integer"
              },
              "failureCount": {
                "type": "integer"
              },
              "totalAttempts": {
                "type": "integer"
              },
              "avgDeliveryTimeMs": {
                "type": "number"
              },
              "lastSuccessAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "lastInboundAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last time a message was received on this channel."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Contact": {
        "type": "object",
        "required": [
          "id",
          "availableChannels",
          "verified",
          "metadata",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "displayName": {
            "type": "string",
            "description": "Display name for the contact.",
            "example": "John Doe"
          },
          "phoneNumber": {
            "type": "string",
            "description": "DEPRECATED: Use primaryPhone instead. Primary phone number in E.164 format.",
            "example": "+56912345678"
          },
          "primaryPhone": {
            "type": "string",
            "description": "Primary phone number in E.164 format.",
            "example": "+56912345678"
          },
          "primaryEmail": {
            "type": "string",
            "format": "email",
            "description": "Primary email address.",
            "example": "john@example.com"
          },
          "countryCode": {
            "type": "string",
            "example": "CL"
          },
          "profileName": {
            "type": "string",
            "nullable": true,
            "description": "Contact's WhatsApp profile name. Only available for WhatsApp contacts.",
            "example": "John Doe"
          },
          "availableChannels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of available messaging channels for this contact."
          },
          "defaultChannel": {
            "type": "string",
            "enum": [
              "sms",
              "whatsapp",
              "telegram",
              "email",
              "instagram",
              "messenger",
              "voice"
            ],
            "description": "Preferred channel for this contact."
          },
          "verified": {
            "type": "boolean",
            "description": "Whether this contact has been verified."
          },
          "channels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactChannel"
            },
            "description": "All communication channels for this contact."
          },
          "suggestedMergeWith": {
            "type": "string",
            "description": "ID of a contact suggested for merging."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ContactUpdateRequest": {
        "type": "object",
        "properties": {
          "defaultChannel": {
            "type": "string",
            "enum": [
              "sms",
              "whatsapp",
              "telegram",
              "email",
              "instagram",
              "messenger",
              "voice"
            ],
            "nullable": true,
            "description": "Preferred channel for this contact. Set to null to clear."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "ContactChannelInput": {
        "type": "object",
        "description": "Input for creating a contact channel.",
        "required": [
          "channel",
          "identifier"
        ],
        "properties": {
          "channel": {
            "type": "string",
            "enum": [
              "sms",
              "whatsapp",
              "email",
              "telegram",
              "instagram",
              "messenger",
              "voice"
            ],
            "description": "Channel type."
          },
          "identifier": {
            "type": "string",
            "description": "Channel identifier (phone number in E.164 format or email address).",
            "example": "+14155551234"
          },
          "countryCode": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "description": "ISO country code for phone numbers.",
            "example": "US"
          },
          "label": {
            "type": "string",
            "maxLength": 50,
            "description": "Optional label for the channel.",
            "example": "work"
          },
          "isPrimary": {
            "type": "boolean",
            "description": "Whether this should be the primary channel for its type.",
            "default": false
          }
        }
      },
      "ContactCreateRequest": {
        "type": "object",
        "description": "Request body to create a contact with channels.",
        "required": [
          "channels"
        ],
        "properties": {
          "displayName": {
            "type": "string",
            "maxLength": 200,
            "description": "Display name for the contact.",
            "example": "John Doe"
          },
          "channels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactChannelInput"
            },
            "minItems": 1,
            "maxItems": 20,
            "description": "Communication channels for the contact."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Arbitrary metadata to associate with the contact."
          }
        }
      },
      "AddChannelRequest": {
        "type": "object",
        "description": "Request body to add a channel to a contact.",
        "required": [
          "channel",
          "identifier"
        ],
        "properties": {
          "channel": {
            "type": "string",
            "enum": [
              "sms",
              "whatsapp",
              "email",
              "telegram",
              "instagram",
              "messenger",
              "voice"
            ],
            "description": "Channel type."
          },
          "identifier": {
            "type": "string",
            "description": "Channel identifier (phone number in E.164 format or email address).",
            "example": "+14155551234"
          },
          "countryCode": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "description": "ISO country code for phone numbers.",
            "example": "US"
          },
          "label": {
            "type": "string",
            "maxLength": 50,
            "description": "Optional label for the channel.",
            "example": "work"
          },
          "isPrimary": {
            "type": "boolean",
            "description": "Whether this should be the primary channel for its type.",
            "default": false
          }
        }
      },
      "UpdateChannelRequest": {
        "type": "object",
        "description": "Request body to update a channel.",
        "properties": {
          "label": {
            "type": "string",
            "maxLength": 50,
            "nullable": true,
            "description": "Optional label for the channel. Set to null to clear."
          },
          "verified": {
            "type": "boolean",
            "description": "Whether the channel is verified."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "MergeContactsRequest": {
        "type": "object",
        "description": "Request body to merge contacts.",
        "required": [
          "sourceContactId"
        ],
        "properties": {
          "sourceContactId": {
            "type": "string",
            "description": "ID of the contact to merge into the target contact. The source contact will be marked as merged."
          }
        }
      },
      "ContactChannelResponse": {
        "type": "object",
        "required": [
          "channel"
        ],
        "properties": {
          "channel": {
            "$ref": "#/components/schemas/ContactChannel"
          }
        }
      },
      "PhoneIntrospectionRequest": {
        "type": "object",
        "required": [
          "phoneNumber"
        ],
        "properties": {
          "phoneNumber": {
            "type": "string",
            "example": "+56912345678"
          }
        }
      },
      "LineType": {
        "type": "string",
        "description": "Type of phone line.",
        "enum": [
          "mobile",
          "landline",
          "voip",
          "toll_free",
          "unknown"
        ]
      },
      "Carrier": {
        "type": "object",
        "description": "Carrier information for the phone number.",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Carrier name.",
            "example": "Verizon Wireless"
          },
          "type": {
            "$ref": "#/components/schemas/LineType"
          }
        }
      },
      "PhoneIntrospectionResponse": {
        "type": "object",
        "required": [
          "phoneNumber",
          "countryCode",
          "validNumber"
        ],
        "properties": {
          "phoneNumber": {
            "type": "string"
          },
          "countryCode": {
            "type": "string",
            "example": "CL"
          },
          "validNumber": {
            "type": "boolean"
          },
          "nationalFormat": {
            "type": "string",
            "description": "Phone number in national format.",
            "example": "(312) 945-7420"
          },
          "lineType": {
            "$ref": "#/components/schemas/LineType"
          },
          "carrier": {
            "$ref": "#/components/schemas/Carrier"
          },
          "availableChannels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of available messaging channels for this phone number."
          }
        }
      },
      "InteractiveButton": {
        "type": "object",
        "required": [
          "id",
          "title"
        ],
        "properties": {
          "id": {
            "type": "string",
            "maxLength": 256,
            "description": "Unique button identifier returned in webhook when clicked."
          },
          "title": {
            "type": "string",
            "maxLength": 20,
            "description": "Button text displayed to user."
          }
        }
      },
      "ListSection": {
        "type": "object",
        "required": [
          "title",
          "rows"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "Section title."
          },
          "rows": {
            "type": "array",
            "maxItems": 10,
            "items": {
              "$ref": "#/components/schemas/ListRow"
            }
          }
        }
      },
      "ListRow": {
        "type": "object",
        "required": [
          "id",
          "title"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique row identifier."
          },
          "title": {
            "type": "string",
            "maxLength": 24,
            "description": "Row title."
          },
          "description": {
            "type": "string",
            "maxLength": 72,
            "description": "Optional row description."
          }
        }
      },
      "ContactCard": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "object",
            "required": [
              "formatted_name"
            ],
            "properties": {
              "formatted_name": {
                "type": "string"
              },
              "first_name": {
                "type": "string"
              },
              "last_name": {
                "type": "string"
              }
            }
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "phone": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "MOBILE",
                    "HOME",
                    "WORK"
                  ]
                }
              }
            }
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "HOME",
                    "WORK"
                  ]
                }
              }
            }
          }
        }
      },
      "ReactionRequest": {
        "type": "object",
        "required": [
          "emoji"
        ],
        "properties": {
          "emoji": {
            "type": "string",
            "description": "Single emoji character to react with.",
            "example": "👍"
          }
        }
      },
      "BroadcastChannel": {
        "type": "string",
        "description": "Broadcast delivery channel. Use 'smart' for per-contact intelligent routing.",
        "enum": [
          "smart",
          "sms",
          "sms_oneway",
          "whatsapp",
          "telegram",
          "email"
        ]
      },
      "BroadcastStatus": {
        "type": "string",
        "description": "Current status of the broadcast.",
        "enum": [
          "draft",
          "pending_review",
          "approved",
          "rejected",
          "escalated",
          "rejected_final",
          "scheduled",
          "sending",
          "paused",
          "completed",
          "cancelled",
          "failed"
        ]
      },
      "BroadcastContactStatus": {
        "type": "string",
        "description": "Status of a contact within a broadcast.",
        "enum": [
          "pending",
          "queued",
          "sending",
          "delivered",
          "failed",
          "skipped"
        ]
      },
      "BroadcastMessageType": {
        "type": "string",
        "description": "Type of message for broadcast.",
        "enum": [
          "text",
          "image",
          "video",
          "audio",
          "document",
          "template"
        ]
      },
      "BroadcastContent": {
        "type": "object",
        "description": "Content for non-text broadcast message types.",
        "properties": {
          "mediaUrl": {
            "type": "string",
            "description": "URL of the media file."
          },
          "mediaId": {
            "type": "string",
            "description": "Media ID if already uploaded."
          },
          "mimeType": {
            "type": "string",
            "description": "MIME type of the media."
          },
          "filename": {
            "type": "string",
            "description": "Filename for documents."
          },
          "templateId": {
            "type": "string",
            "description": "Template ID for template messages."
          },
          "templateVariables": {
            "type": "object",
            "description": "Default body variables (can be overridden per contact). Key them to match the template body: by position (`1`, `2`, ...) for positional templates, or by name (e.g. `customer_name`) for named templates. Zavu detects the template's format and sends the correct payload to Meta. Do not mix positional and named keys.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "templateButtonVariables": {
            "type": "object",
            "description": "Default button variables for dynamic URL/OTP buttons. Keys are the button index (0, 1, 2). Per-contact values override these.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "templateHeaderVariables": {
            "type": "object",
            "description": "Default value for a text-header variable, keyed by `1` (can be overridden per contact). If omitted, Zavu resolves the header from `templateVariables` by the header placeholder's name.",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "BroadcastCreateRequest": {
        "type": "object",
        "required": [
          "name",
          "channel"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the broadcast campaign.",
            "example": "Black Friday Sale"
          },
          "channel": {
            "$ref": "#/components/schemas/BroadcastChannel"
          },
          "messageType": {
            "$ref": "#/components/schemas/BroadcastMessageType",
            "default": "text"
          },
          "text": {
            "type": "string",
            "description": "Text content or caption. Supports template variables: {{name}}, {{1}}, etc.",
            "example": "Hi {{name}}, check out our Black Friday deals!"
          },
          "content": {
            "$ref": "#/components/schemas/BroadcastContent"
          },
          "senderId": {
            "type": "string",
            "description": "Sender profile ID. Uses default sender if omitted."
          },
          "emailSubject": {
            "type": "string",
            "description": "Email subject line. Required for email broadcasts."
          },
          "emailHtmlBody": {
            "type": "string",
            "description": "HTML body for email broadcasts."
          },
          "scheduledAt": {
            "type": "string",
            "format": "date-time",
            "description": "Schedule the broadcast for future delivery."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Idempotency key to prevent duplicate broadcasts."
          }
        }
      },
      "BroadcastUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "content": {
            "$ref": "#/components/schemas/BroadcastContent"
          },
          "emailSubject": {
            "type": "string"
          },
          "emailHtmlBody": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "BroadcastContactInput": {
        "type": "object",
        "required": [
          "recipient"
        ],
        "properties": {
          "recipient": {
            "type": "string",
            "description": "Phone number (E.164) or email address.",
            "example": "+14155551234"
          },
          "templateVariables": {
            "type": "object",
            "description": "Per-contact body variables. Key them to match the template body: by position (`1`, `2`, ...) for positional templates, or by name (e.g. `customer_name`) for named templates. Zavu detects the template's format and sends the correct payload to Meta. Do not mix positional and named keys.",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "1": "John",
              "2": "ORD-12345"
            }
          },
          "templateButtonVariables": {
            "type": "object",
            "description": "Per-contact button variables for dynamic URL/OTP buttons. Keys are the button index (0, 1, 2).",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "0": "abc-report-token"
            }
          },
          "templateHeaderVariables": {
            "type": "object",
            "description": "Per-contact value for a text-header variable, keyed by `1`. If omitted, Zavu resolves the header from `templateVariables` by the header placeholder's name.",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "1": "Jorge y Laura"
            }
          }
        }
      },
      "BroadcastContactsAddRequest": {
        "type": "object",
        "required": [
          "contacts"
        ],
        "properties": {
          "contacts": {
            "type": "array",
            "description": "List of contacts to add (max 1000 per request).",
            "maxItems": 1000,
            "items": {
              "$ref": "#/components/schemas/BroadcastContactInput"
            }
          }
        }
      },
      "BroadcastContactsAddResponse": {
        "type": "object",
        "required": [
          "added",
          "duplicates",
          "invalid"
        ],
        "properties": {
          "added": {
            "type": "integer",
            "description": "Number of contacts successfully added."
          },
          "duplicates": {
            "type": "integer",
            "description": "Number of duplicate contacts skipped."
          },
          "invalid": {
            "type": "integer",
            "description": "Number of invalid contacts rejected."
          },
          "errors": {
            "type": "array",
            "description": "Details about invalid contacts.",
            "items": {
              "type": "object",
              "properties": {
                "recipient": {
                  "type": "string"
                },
                "reason": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "BroadcastSendRequest": {
        "type": "object",
        "properties": {
          "scheduledAt": {
            "type": "string",
            "format": "date-time",
            "description": "Schedule for future delivery. Omit to send immediately."
          }
        }
      },
      "BroadcastRescheduleRequest": {
        "type": "object",
        "required": [
          "scheduledAt"
        ],
        "properties": {
          "scheduledAt": {
            "type": "string",
            "format": "date-time",
            "description": "New scheduled time for the broadcast."
          }
        }
      },
      "Broadcast": {
        "type": "object",
        "required": [
          "id",
          "name",
          "status",
          "channel",
          "messageType",
          "totalContacts",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "brd_abc123"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/BroadcastStatus"
          },
          "channel": {
            "$ref": "#/components/schemas/BroadcastChannel"
          },
          "messageType": {
            "$ref": "#/components/schemas/BroadcastMessageType"
          },
          "text": {
            "type": "string"
          },
          "content": {
            "$ref": "#/components/schemas/BroadcastContent"
          },
          "senderId": {
            "type": "string"
          },
          "emailSubject": {
            "type": "string"
          },
          "totalContacts": {
            "type": "integer",
            "description": "Total number of contacts in the broadcast."
          },
          "pendingCount": {
            "type": "integer"
          },
          "sendingCount": {
            "type": "integer"
          },
          "deliveredCount": {
            "type": "integer"
          },
          "failedCount": {
            "type": "integer"
          },
          "estimatedCost": {
            "type": "number",
            "nullable": true,
            "description": "Estimated total cost in USD."
          },
          "reservedAmount": {
            "type": "number",
            "nullable": true,
            "description": "Amount reserved from balance in USD."
          },
          "actualCost": {
            "type": "number",
            "nullable": true,
            "description": "Actual cost so far in USD."
          },
          "scheduledAt": {
            "type": "string",
            "format": "date-time"
          },
          "startedAt": {
            "type": "string",
            "format": "date-time"
          },
          "completedAt": {
            "type": "string",
            "format": "date-time"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "reviewResult": {
            "type": "object",
            "nullable": true,
            "description": "AI content review result.",
            "properties": {
              "score": {
                "type": "number",
                "description": "Content safety score from 0.0 to 1.0, where 1.0 is completely safe."
              },
              "categories": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Policy categories violated, if any."
              },
              "reasoning": {
                "type": "string",
                "description": "Explanation of the review decision."
              },
              "reviewedAt": {
                "type": "string",
                "format": "date-time"
              },
              "flaggedContent": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "nullable": true,
                "description": "Problematic text fragments, if any."
              }
            }
          },
          "reviewAttempts": {
            "type": "integer",
            "nullable": true,
            "description": "Number of review attempts (max 3)."
          }
        }
      },
      "BroadcastResponse": {
        "type": "object",
        "required": [
          "broadcast"
        ],
        "properties": {
          "broadcast": {
            "$ref": "#/components/schemas/Broadcast"
          }
        }
      },
      "BroadcastContact": {
        "type": "object",
        "required": [
          "id",
          "recipient",
          "recipientType",
          "status",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "recipient": {
            "type": "string"
          },
          "recipientType": {
            "type": "string",
            "enum": [
              "phone",
              "email"
            ]
          },
          "status": {
            "$ref": "#/components/schemas/BroadcastContactStatus"
          },
          "templateVariables": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "templateButtonVariables": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "templateHeaderVariables": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "messageId": {
            "type": "string",
            "description": "Associated message ID after processing."
          },
          "errorCode": {
            "type": "string"
          },
          "errorMessage": {
            "type": "string"
          },
          "cost": {
            "type": "number",
            "nullable": true
          },
          "processedAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BroadcastProgress": {
        "type": "object",
        "required": [
          "broadcastId",
          "status",
          "total",
          "pending",
          "sending",
          "delivered",
          "failed",
          "skipped",
          "percentComplete"
        ],
        "properties": {
          "broadcastId": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/BroadcastStatus"
          },
          "total": {
            "type": "integer",
            "description": "Total contacts in broadcast."
          },
          "pending": {
            "type": "integer",
            "description": "Not yet queued for sending."
          },
          "sending": {
            "type": "integer",
            "description": "Currently being sent."
          },
          "delivered": {
            "type": "integer",
            "description": "Successfully delivered."
          },
          "failed": {
            "type": "integer",
            "description": "Failed to deliver."
          },
          "skipped": {
            "type": "integer",
            "description": "Skipped (broadcast cancelled)."
          },
          "percentComplete": {
            "type": "number",
            "description": "Percentage complete (0-100)."
          },
          "estimatedCost": {
            "type": "number",
            "nullable": true,
            "description": "Estimated total cost in USD."
          },
          "reservedAmount": {
            "type": "number",
            "nullable": true,
            "description": "Amount reserved from balance in USD."
          },
          "actualCost": {
            "type": "number",
            "nullable": true,
            "description": "Actual cost so far in USD."
          },
          "startedAt": {
            "type": "string",
            "format": "date-time"
          },
          "estimatedCompletionAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PhoneNumberStatus": {
        "type": "string",
        "enum": [
          "active",
          "suspended",
          "pending"
        ]
      },
      "PhoneNumberType": {
        "type": "string",
        "enum": [
          "local",
          "national",
          "tollFree"
        ]
      },
      "PhoneNumberCapabilities": {
        "type": "object",
        "properties": {
          "sms": {
            "type": "boolean"
          },
          "voice": {
            "type": "boolean"
          },
          "mms": {
            "type": "boolean"
          }
        }
      },
      "PhoneNumberPricing": {
        "type": "object",
        "properties": {
          "monthlyPrice": {
            "type": "number",
            "description": "Monthly price in USD."
          },
          "upfrontPrice": {
            "type": "number",
            "description": "One-time purchase price in USD."
          },
          "isFreeEligible": {
            "type": "boolean",
            "description": "Whether this number qualifies for the free first US number offer."
          }
        }
      },
      "AvailablePhoneNumber": {
        "type": "object",
        "required": [
          "phoneNumber",
          "capabilities",
          "pricing"
        ],
        "properties": {
          "phoneNumber": {
            "type": "string",
            "example": "+15551234567"
          },
          "friendlyName": {
            "type": "string",
            "example": "(555) 123-4567"
          },
          "locality": {
            "type": "string",
            "example": "San Francisco"
          },
          "region": {
            "type": "string",
            "example": "CA"
          },
          "capabilities": {
            "$ref": "#/components/schemas/PhoneNumberCapabilities"
          },
          "pricing": {
            "$ref": "#/components/schemas/PhoneNumberPricing"
          }
        }
      },
      "OwnedPhoneNumberPricing": {
        "type": "object",
        "properties": {
          "monthlyPrice": {
            "type": "number",
            "description": "Monthly price in USD."
          },
          "upfrontCost": {
            "type": "number",
            "description": "One-time purchase cost in cents."
          },
          "monthlyCost": {
            "type": "number",
            "description": "Monthly cost in cents."
          },
          "isFreeNumber": {
            "type": "boolean",
            "description": "Whether this is a free number."
          }
        }
      },
      "OwnedPhoneNumber": {
        "type": "object",
        "required": [
          "id",
          "phoneNumber",
          "capabilities",
          "status",
          "pricing",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string",
            "example": "+15551234567"
          },
          "name": {
            "type": "string",
            "description": "Optional custom name for the phone number."
          },
          "capabilities": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "sms",
              "voice"
            ]
          },
          "status": {
            "$ref": "#/components/schemas/PhoneNumberStatus"
          },
          "senderId": {
            "type": "string",
            "description": "Sender ID if the phone number is assigned to a sender."
          },
          "pricing": {
            "$ref": "#/components/schemas/OwnedPhoneNumberPricing"
          },
          "nextRenewalDate": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PhoneNumberPurchaseRequest": {
        "type": "object",
        "required": [
          "phoneNumber"
        ],
        "properties": {
          "phoneNumber": {
            "type": "string",
            "description": "Phone number in E.164 format.",
            "example": "+15551234567"
          },
          "name": {
            "type": "string",
            "maxLength": 100,
            "description": "Optional custom name for the phone number."
          }
        }
      },
      "PhoneNumberUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 100,
            "nullable": true,
            "description": "Custom name for the phone number. Set to null to clear."
          },
          "senderId": {
            "type": "string",
            "nullable": true,
            "description": "Sender ID to assign the phone number to. Set to null to unassign."
          }
        }
      },
      "PhoneNumberResponse": {
        "type": "object",
        "required": [
          "phoneNumber"
        ],
        "properties": {
          "phoneNumber": {
            "$ref": "#/components/schemas/OwnedPhoneNumber"
          }
        }
      },
      "InvitationStatus": {
        "type": "string",
        "description": "Current status of the partner invitation.",
        "enum": [
          "pending",
          "in_progress",
          "completed",
          "expired",
          "cancelled"
        ]
      },
      "InvitationCreateRequest": {
        "type": "object",
        "properties": {
          "clientName": {
            "type": "string",
            "maxLength": 100,
            "description": "Name of the client being invited.",
            "example": "Acme Corp"
          },
          "clientEmail": {
            "type": "string",
            "format": "email",
            "description": "Email of the client being invited.",
            "example": "contact@acme.com"
          },
          "clientPhone": {
            "type": "string",
            "description": "Phone number of the client in E.164 format.",
            "example": "+14155551234"
          },
          "phoneNumberId": {
            "type": "string",
            "description": "ID of a Zavu phone number to pre-assign for WhatsApp registration. If provided, the client will use this number instead of their own.",
            "example": "pn_abc123"
          },
          "expiresInDays": {
            "type": "integer",
            "minimum": 1,
            "maximum": 30,
            "default": 7,
            "description": "Number of days until the invitation expires."
          },
          "allowedPhoneCountries": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2
            },
            "description": "ISO country codes for allowed phone numbers.",
            "example": [
              "US",
              "MX"
            ]
          },
          "connectionType": {
            "type": "string",
            "enum": [
              "whatsapp_waba",
              "whatsapp_alt"
            ],
            "default": "whatsapp_waba",
            "description": "How the client connects WhatsApp. `whatsapp_waba` (default) runs Meta's embedded signup to link an official WhatsApp Business Account. `whatsapp_alt` links the number by scanning a QR code — available only to teams with the WhatsApp Alternative feature enabled."
          }
        }
      },
      "Invitation": {
        "type": "object",
        "required": [
          "id",
          "url",
          "token",
          "status",
          "expiresAt",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "inv_abc123"
          },
          "url": {
            "type": "string",
            "description": "Full URL to share with the client.",
            "example": "https://dashboard.zavu.dev/invite/abc123xyz"
          },
          "token": {
            "type": "string",
            "description": "Unique invitation token."
          },
          "clientName": {
            "type": "string",
            "nullable": true
          },
          "clientEmail": {
            "type": "string",
            "nullable": true
          },
          "clientPhone": {
            "type": "string",
            "nullable": true
          },
          "phoneNumberId": {
            "type": "string",
            "nullable": true,
            "description": "ID of a pre-assigned Zavu phone number for WhatsApp registration."
          },
          "connectionType": {
            "type": "string",
            "enum": [
              "whatsapp_waba",
              "whatsapp_alt"
            ],
            "description": "How the client connects WhatsApp: `whatsapp_waba` (official Cloud API via embedded signup) or `whatsapp_alt` (QR-linked)."
          },
          "status": {
            "$ref": "#/components/schemas/InvitationStatus"
          },
          "senderId": {
            "type": "string",
            "nullable": true,
            "description": "ID of the sender created when invitation is completed."
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "viewedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "startedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "completedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "InvitationResponse": {
        "type": "object",
        "required": [
          "invitation"
        ],
        "properties": {
          "invitation": {
            "$ref": "#/components/schemas/Invitation"
          }
        }
      },
      "WhatsAppBusinessProfileVertical": {
        "type": "string",
        "description": "Business category for WhatsApp Business profile.",
        "enum": [
          "UNDEFINED",
          "OTHER",
          "AUTO",
          "BEAUTY",
          "APPAREL",
          "EDU",
          "ENTERTAIN",
          "EVENT_PLAN",
          "FINANCE",
          "GROCERY",
          "GOVT",
          "HOTEL",
          "HEALTH",
          "NONPROFIT",
          "PROF_SERVICES",
          "RETAIL",
          "TRAVEL",
          "RESTAURANT",
          "NOT_A_BIZ"
        ]
      },
      "WhatsAppBusinessProfile": {
        "type": "object",
        "description": "WhatsApp Business profile information.",
        "properties": {
          "about": {
            "type": "string",
            "description": "Short description of the business (max 139 characters).",
            "maxLength": 139,
            "example": "Succulent specialists!"
          },
          "address": {
            "type": "string",
            "description": "Physical address of the business (max 256 characters).",
            "maxLength": 256,
            "example": "1 Hacker Way, Menlo Park, CA 94025"
          },
          "description": {
            "type": "string",
            "description": "Extended description of the business (max 512 characters).",
            "maxLength": 512,
            "example": "At Lucky Shrub, we specialize in providing a diverse range of high-quality succulents."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Business email address.",
            "example": "contact@example.com"
          },
          "profilePictureUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL of the business profile picture.",
            "example": "https://pps.whatsapp.net/v/t61.24..."
          },
          "websites": {
            "type": "array",
            "description": "Business website URLs (maximum 2).",
            "maxItems": 2,
            "items": {
              "type": "string",
              "format": "uri"
            },
            "example": [
              "https://www.example.com/"
            ]
          },
          "vertical": {
            "$ref": "#/components/schemas/WhatsAppBusinessProfileVertical"
          }
        }
      },
      "WhatsAppBusinessProfileUpdateRequest": {
        "type": "object",
        "description": "Request body to update WhatsApp Business profile.",
        "properties": {
          "about": {
            "type": "string",
            "description": "Short description of the business (max 139 characters).",
            "maxLength": 139
          },
          "address": {
            "type": "string",
            "description": "Physical address of the business (max 256 characters).",
            "maxLength": 256
          },
          "description": {
            "type": "string",
            "description": "Extended description of the business (max 512 characters).",
            "maxLength": 512
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Business email address."
          },
          "websites": {
            "type": "array",
            "description": "Business website URLs (maximum 2).",
            "maxItems": 2,
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "vertical": {
            "$ref": "#/components/schemas/WhatsAppBusinessProfileVertical"
          }
        }
      },
      "WhatsAppBusinessProfileResponse": {
        "type": "object",
        "required": [
[...]
